<launch>
  <arg name="world_file_name" default="simple_obstacle" />
  <arg name="world_path" default="$(find avoidance)/sim/worlds/$(arg world_file_name).world" />

  <!-- Use simulated time for all nodes -->
  <param name="use_sim_time" value="true" />

  <!-- Start Gazebo once -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_path)" />
  </include>

  <!-- UAV 1 -->
  <group ns="uav1">
    <arg name="ns" value="uav1" />
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
          args="0 0 0 -1.57 0 -1.57 $(arg ns)/fcu $(arg ns)/camera_link 10" />
    <include file="$(find avoidance)/launch/avoidance_sitl_mavros.launch">
      <arg name="ns" value="uav1" />
      <arg name="model" value="iris_stereo_camera" />
      <arg name="vehicle" value="uav1" />
      <arg name="fcu_url" value="udp://:14540@localhost:14580" />
      <arg name="spawn_world" value="false" />
    </include>
    <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <param name="stereo_algorithm" type="double" value="1.0" />
      <param name="correlation_window_size" type="double" value="19.0" />
      <param name="disparity_range" type="double" value="32.0" />
      <param name="uniqueness_ratio" type="double" value="40.0" />
      <param name="speckle_size" type="double" value="1000.0" />
      <param name="speckle_range" type="double" value="2.0" />
    </node>
  </group>

  <!-- UAV 2 -->
  <group ns="uav2">
    <arg name="ns" value="uav2" />
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
          args="0 0 0 -1.57 0 -1.57 $(arg ns)/fcu $(arg ns)/camera_link 10" />
    <include file="$(find avoidance)/launch/avoidance_sitl_mavros.launch">
      <arg name="ns" value="uav2" />
      <arg name="model" value="iris_stereo_camera" />
      <arg name="vehicle" value="uav2" />
      <arg name="fcu_url" value="udp://:14541@localhost:14581" />
      <arg name="spawn_world" value="false" />
    </include>
    <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <param name="stereo_algorithm" type="double" value="1.0" />
      <param name="correlation_window_size" type="double" value="19.0" />
      <param name="disparity_range" type="double" value="32.0" />
      <param name="uniqueness_ratio" type="double" value="40.0" />
      <param name="speckle_size" type="double" value="1000.0" />
      <param name="speckle_range" type="double" value="2.0" />
    </node>
  </group>

  <!-- UAV 3 -->
  <group ns="uav3">
    <arg name="ns" value="uav3" />
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
          args="0 0 0 -1.57 0 -1.57 $(arg ns)/fcu $(arg ns)/camera_link 10" />
    <include file="$(find avoidance)/launch/avoidance_sitl_mavros.launch">
      <arg name="ns" value="uav3" />
      <arg name="model" value="iris_stereo_camera" />
      <arg name="vehicle" value="uav3" />
      <arg name="fcu_url" value="udp://:14542@localhost:14582" />
      <arg name="spawn_world" value="false" />
    </include>
    <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <param name="stereo_algorithm" type="double" value="1.0" />
      <param name="correlation_window_size" type="double" value="19.0" />
      <param name="disparity_range" type="double" value="32.0" />
      <param name="uniqueness_ratio" type="double" value="40.0" />
      <param name="speckle_size" type="double" value="1000.0" />
      <param name="speckle_range" type="double" value="2.0" />
    </node>
  </group>

</launch>

